.cmvQueryStatistics {
    width: 100%;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.cmvQueryStatistics label {
	font-weight: bold;
	margin-left: 3px;
}
.cmvQueryStatistics table.attrTable td.attrName {
    text-align: right;
    font-weight: bold;
    width: 50%;
    padding-right: 5px;
}
.cmvQueryStatistics .stats {
    color: darkorange;
}
.cmvQueryStatistics .addLayerWidget {
    margin: 5px;
    padding: 5px;
}
.clearLayerIcon {
    background-image: url(../images/clear.png);
    width: 16px;
    height: 16px;
}
.addLayerIcon {
    background-image: url(../images/add.png);
    width: 16px;
    height: 16px;
}
